:root{
    --height-header: 55px;
}

body{
    font-family: "Roboto", sans-serif;
}

.hover:hover{
    background-color: rgba(211, 211, 211, 0.356);
    cursor: pointer;
}

/* regole header */
header.box_container{
    height: var(--height-header);
}

    /* regole NavBar di BootStrap */
#logo_small{
    width: 30px;
}

#logo_big{
    width: 150px;
}

.dropdown-toggle::after{
    display: none;
}

.navbar-expand .navbar-nav .dropdown-menu{
    left: -140px;
}

.form-control{
    background-color: #e9ecef;
    border-left: none;
}


/* regole barra di sinistra */
#left-bar{
    height: calc(100vh - var(--height-header));
    background-color: #051f33;
    color: white;
}

#left-bar .nav-link{
    color: white;
}

#left-bar .nav-link i{
    margin-right: 5px;
}

#icon_container{
    height: 100%;
}




/* regole main */

main .box_container{
    height: calc(100vh - var(--height-header));
    overflow-y: auto;
}

    /* regole sezione azzurra */
#blue_bar{
    background-color: #1b72e8;
    color: white;
}

#blue_bar strong{
    font-size: 25px;
}

        /* regole canvas */
.offcanvas.offcanvas-end{
    width: 100%;
}

#blue_bar .btn-outline-primary{
    --bs-btn-color: #ffff;
}

#blue_bar .offcanvas{
    color: black;
}

        /* regole breadcrumbs */
.text-bg-primary{
  background-color: rgba(0, 75, 188, 0.649) !important;
}

.breadcrumb{
    --bs-breadcrumb-item-padding-x: 0.15rem;
}
    /* fine regole sezione azzurra */


    /* regole card main */
.card img{
    border-radius: 15px;
}
    

.list-group-item{
    display: inline-flex;
}

.list-group-item img{
    width: 30px;
    margin-right: 5px;
}

.card span{
    font-size: 13px;
}

.card .btn.btn-warning{
    color: white;
}

/* &raquo */
@media screen and (min-width:992px) {
    .offcanvas.offcanvas-end{
        width: 50%;
    }
    
}
    
